@import '../_variaveis/variaveis.scss';

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 208px;
}

.video-post {
  background-color: $fundo;

  display: flex;
  align-items: center;
  border: 2px solid $cor-texto;
}

.video-post a {
  text-decoration: none;
}

.video-img {
  width: 200px;
  transform: translateX(-2.5rem);
}

.video-img img {
  padding: 4px 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.video-content {
  font-size: 32px;
  font-weight: 600;
  padding: 20px;
  font-family: $font-text;
}

.text {
  color: $cor-texto;
  line-height: 24px;
}

.data {
  padding: 24px 0;
  font-size: 12px;
  color: $cor-subtexto;
}

@media screen and (max-width:1068px) {
  .video-img {
    min-width: 30%;
    max-width: 30%;
  }
}

@media screen and (max-width:665px) {

  .video-post {
    width: 300px;
    padding: 2.5rem;
    flex-direction: column;
    padding: 0 20px;
  }

  .video-img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -3.5rem);
  }
}











// .video {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding-top: 209px;

//   .video-post {
//     background-color: $fundo;
//     width: 50%;
//     // max-width: 40rem;
//     padding: 1rem 0;
//     display: flex;
//     align-items: center;
//     border: 2px solid $cor-texto;

//     a {
//       text-decoration: none;
//     }

//     .video-img {
//       width: 25%;
//       // width: 50%;
//       transform: translateX(-2.5rem);

//       img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//         display: block;
//       }
//     }

//     .video-content {

//       // display: block;
//       font-size: 32px;
//       font-weight: 600;
//       font-family: $font-text;

//       .text {
//         color: $cor-texto;
//         line-height: 24px;
//       }

//       .data {
//         padding: 24px 0;
//         font-size: 12px;
//         color: $cor-subtexto;
//       }
//     }
//   }
// }

// @media screen and (max-width:1068px) {
//   .video-img {
//     min-width: 20rem;
//     max-width: 20rem;
//   }
// }

// @media screen and (max-width:868px) {
//   .video-post {
//     max-width: 40rem;
//   }
// }

// @media screen and (max-width:746px) {
//   .video-post {
//     padding: 2.5rem;
//     flex-direction: column;
//     padding: 0 20px;

//     .video-img {
//       min-width: 100%;
//       max-width: 100%;
//       transform: translate(-3.5rem);
//     }
//   }
// }