.Trailer {
  padding: 0 24px;
  text-align: center;

  .img {
    max-width: 560px;

    .arcane-img {
      height: 137px;
      width: 100%;
    }
  }

  .button {
    padding-top: 28px;
    
    button {
      width: 100%;

      font-weight: 600;
      padding: 12px 56px;
      text-transform: uppercase;
      background: #E3D2BC;
      border: 2px solid #111111;
      color: #111111;
    }
  }
}

@media screen and (min-width:560px) {
  .Trailer {
    background-color: black;
  }
}