.Trailer {
  padding: 0 24px;
  text-align: center;

  .img {
    max-width: 560px;
    margin: 0 auto;

    .arcane-img {
      height: 137px;
      width: 100%;
    }
  }

  .button {
    button {
      font-weight: 600;
      padding: 16px 86px;
      text-transform: uppercase;
      background: #E3D2BC;
      border: 2px solid #111111;
      color: #111111;
    }
  }
}